<footer>
    <p class="mb-1">©2018 GooComp</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="/privacy">Privacy Policy</a>
        </li>
        <li class="list-inline-item">
            <a href="/terms">Terms</a>
        </li>
        <li class="list-inline-item">
            <a href="/support">Support</a>
        </li>
    </ul>
</footer>