<nav class="navbar navbar-light bg-light">
		<a class="navber-brand" href="/">Home</a>
		<a class="navber-brand" href="/draw">Create Drawing</a>
		<a class="login" href="/login">Login</a>
		<a class="user" href="/users">Users</a>
</nav>