<div class="container">
	<div class="row">
		<div class="col">
			<div class="d-flex justify-content-center">
				{{!--TODO: make the canvas not warp in chrome--}}
				<canvas id="canvasHTML" width="300" height="300" style="border: 1px solid black;"></canvas>
				<div class="controlPanel">
					<input type="number" id="sizeInput" value="2" onclick="changeBrushSize(this.value)"><br/>
					<input type="range" id="sizeRange" value="2" onclick="changeBrushSize(this.value)"><br/>
					<input type="color" id="colourInput" class="btn" style="background-color:#666666" value="#666666" oninput="changeBrushColour(this.value)">
					<input type="color" id="colourInput" class="btn" style="background-color:#666666" value="#666666" oninput="changeBrushColour(this.value)"><br/>
					<input type="color" id="colourInput" class="btn" style="background-color:#666666" value="#666666" oninput="changeBrushColour(this.value)">
					<input type="color" id="colourInput" class="btn" style="background-color:#666666" value="#666666" oninput="changeBrushColour(this.value)"><br/>

					{{> colourButton colour="#000000"}}
					{{> colourButton colour="#FFFFFF"}}
					{{> colourButton colour="#FF0000"}}
					{{> colourButton colour="#FF7F00"}}
					{{> colourButton colour="#FFFF00"}}
					{{> colourButton colour="#00FF00"}}
					{{> colourButton colour="#0000FF"}}
					{{> colourButton colour="#4B0082"}}
					{{> colourButton colour="#9400D3"}}
					
					<input type="button" value="clear" id="clearButton" size="30" onclick="clearCanv()"><br/>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="d-flex justify-content-center">
				<div class="rounded" style="background-color:darkgray">
					<form action="/draw/submit" method="post" autocomplete="off" id="artForm" onsubmit="embedImageURL()">
						<p>Title:</p>
						<input type="text" name="title" placeholder="Art title here" maxlength="45" required>
						<p>Description (optional):</p>
						<textarea type="text" name="desc" placeholder="Put your description here. 140 Characters Max." maxlength="140"></textarea>
						<p>Hashtags (optional):</p>
						<input type="text" name="tags" placeholder="#Your #tags #here" maxlength="45">
						<p>Make post anonymous? <input type="checkbox" name="isAnon" value="true" checked></p>
						<input type="text" name="imageURL" id="imageURL" hidden><br/>
						<button class="btn btn-primary" >Submit Artwork</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"crossorigin="anonymous"></script>

<script src="/javascripts/drawpad.js"></script>
