<canvas id="canvasHTML" width="300" height="300" style="border: 1px solid black;"></canvas>

<input type="button" value="clear" id="clrBtn" size="30" onclick="clearCanv()">
<div>
	<!--form action="/routes/" method="post"autocomplete="off" id="artForm" onsubmit="embedImageURL()"-->

	<form action="/draw/submit" method="post"autocomplete="off" id="artForm" onsubmit="embedImageURL()">
		<label>Title</label>
		<input type="text" name="title" placeholder="Art title here" maxlength="45" required>
		<label>Description (optional)</label>
		<textarea type="text" name="desc" placeholder="Put your description here. 140 Characters Max." maxlength="140"></textarea>
		<label>Hashtags (optional)</label>
		<input type="text" name="tags" placeholder="#Your #tags #here" maxlength="45">
		<label>Make post anonymous? <input type="checkbox" name="isAnon" value="true" checked></label>
		<input type="text" name="imageURL" id="imageURL" hidden>
		<p></p>
		<!-- <button type="submit" class="btn btn-primary">Submit Artwork</button> -->
		<button class="btn btn-primary" >Submit Artwork</button>

	</form>
</div>

<script src="/javascripts/drawpad.js"></script>
